{% extends 'parts/base.twig' %}

{% block body %}
    <h1>Кабинет администратора</h1>
    <a class="link" href="/showuser/">Посмотреть список клиентов</a>
    <br>
    <a class="link" href="/addproduct/">Добавить товар</a>
    <br>
    <a class="link" href="/show-cheque/">Посмотреть список чеков</a>
{% endblock %}