{% extends 'parts/base.twig' %}

{% block body %}
    <h1>Главная</h1>
    {% if ((user is not null) and (user.admin == 0)) %}
        <p>Здравствуйте, {{ user.Company_name|escape }} ({{ user.email|escape }})</p>
        <p>Перейдите в каталог, чтобы определиться с выбором и сделать заказ</p>
    {% elseif (user.admin == 1) %}
        <p>Добро пожаловать в кабинет администратора, {{ user.email|escape }}</p>
        <p>Вы можете перейти к управлению магазином:</p>  <a href="/admin/" class="btn">Управление</a>
    {% else  %}
    <p>You are not logged in</p>
        <p>В нашем интернет-магазине представлен широкий асортимент мебели для различных учреждений. Чтобы сделать заказ, зарегистрируйтесь или пройдите авторизацию.</p>
    {% endif %}

{% endblock %}